// to set up, make an `html` file with up to 100 empty divs
// this SCSS file will loop through all the divs and add the
// proper `fizz` `buzz` `fizzbuzz` or number.
// 100 can be changed to allow for more, or less, entries.
@for $i from 1 through 100 {
  div:nth-of-type( #{$i} ):before {
    $content: "";
    @if $i % 3 == 0 {
      $content: $content + "fizz";
    }

    @if $i % 5 == 0 {
      $content: $content + "buzz";
    }

    @if $content != "" {
      content: $content;
    }
    @else {
      content: "#{$i}";
    }
  }
}

